.container{margin-bottom: 100px;}

.KING{background-color: #FCECE8;border-radius: 10px;}
.rr{margin-top: 20%;}
.gamecontroller{color:#FFFFFF;background-color:  #FF589B;border: none;border-radius: 8px;padding: 9px 25px;}
